@font-face {
  font-family: NoveliaPro;
  src: url("../assets/fonts/NoveliaPro.ttf");
  display: swap;
}
@font-face {
  font-family: JejuGothic;
  src: url("../assets/fonts/JejuGothic-Regular.ttf");
  display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("../assets/images/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    max-width: 100vw;
    width: 100%;

    display: flex;
    flex-direction: column;

    color: #ffffff;

    font-size: 2vw;
    font-family: JejuGothic;
    font-display: swap;

    overflow-x: hidden;
}



h1 {
    font-family: NoveliaPro;
    font-size: 4vw;
    font-display: swap;
}

li, a{
    color: #ffffff;

    font-size: 1.2rem;
    
    text-decoration: none;
    list-style: none;
}

nav {
    background-color: #a1272762;
    
    padding: 2vh 5vw 2vh 0;

    display: flex;
    align-items: center;
}

nav > ul{
    display: flex;
    width: 100%;
    justify-content: end;
}


.nav-links{
    margin-left: 5vw;
    
    text-decoration: none;
    text-transform: uppercase;
    text-underline-offset: var(--offset, 0.5em);
    text-decoration: underline 0.13em rgba(255, 255, 255, 0);

    transition: 300ms, text-decoration-color 300ms;

    padding: 2rem;
}

.nav-links:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
}


#OJOGO {
    margin: 5vh 0 0 5%;
    width: 40vw;
    max-width: 100vw;
}

#OJOGO > img {
    width: 100%;
}

#OJOGO > p {
    padding-left: 10%;
}

#SOBRE {
  margin: 5vh 0 0 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

#SOBRE > img {
  width: 45%;
  height: fit-content;
}

#SOBRE :nth-child(1) {
  text-shadow: 0 0 2vw #fee889, 0 0 2vw #fee889;
}

#SOBRE :nth-child(3) {
  margin: 5vh 0 0 0;
  text-shadow: 0 0 2vw #ee8b1d, 0 0 2vw #ee8b1d;
}

#SOBRE > article {
  width: 45%;
}

#TRAILER {
  text-align: center;
  width: 80vw;
  margin: 5vh 0 0 0;
  padding: 0 10vw;
}

#TRAILER > h1 {
  text-shadow: 0 0 2vw #b3508b, 0 0 2vw #b3508b;
}

#TRAILER > iframe {
  border-radius: 5%;
  width: 100%;
  height: 40vw;
}

#EQUIPE {
  margin: 5vh 0 0 0;
}

footer {
  background-color: #00000080;
  margin: 5vh 0 0 0;
  padding: 2vh;
  gap: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer > img {
  width: 20%;
}

@media (min-width: 430px) {
  nav {
    height: 10vh;
  }
}
